doctype html

html.spread(lang='en')
head
  meta(charset='utf-8')
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Raine Revere
  link(rel='stylesheet' type='text/css' href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css')
  link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Quicksand')
  link(rel='stylesheet' type='text/css' href='/styles/main.css')
  include analytics.html

body.spread
  .dark.pad-lg.pad-quarter.center.spread
    include calendly.html
