doctype html

html.spread(lang='en')
head
  meta(charset='utf-8')
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Raine Revere
  link(rel='stylesheet' type='text/css' href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css')
  link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Quicksand')
  link(rel='stylesheet' type='text/css' href='/styles/main.css')
  include analytics.html

mixin triangle(triangleSize=40, triangleBorderSize=2)
  svg.triangle-svg(width=triangleSize height=triangleSize viewBox="0 0 " + (triangleSize + 10) + " " + (triangleSize + 10) xmlns="http://www.w3.org/2000/svg")
    polygon.triangle(points=((triangleSize + triangleBorderSize)/2) + "," + triangleBorderSize*3 + " " + triangleSize + "," + triangleSize + " " + triangleBorderSize + "," + triangleSize)

mixin triangleUp(triangleSize=40, triangleBorderSize=2)
  svg.triangle-svg.triangle-up-svg(width=triangleSize height=triangleSize viewBox="0 0 " + (triangleSize + 10) + " " + (triangleSize + 10) xmlns="http://www.w3.org/2000/svg")
    polygon.triangle(points=
      ((triangleSize + triangleBorderSize)/2) + "," + (triangleSize - triangleBorderSize*3) + " " +
      triangleBorderSize + "," + triangleBorderSize + " " + 
      (triangleSize - triangleBorderSize) + "," + triangleBorderSize
    )

mixin triangle-row(numTrianglesInRow=7)
  .triangle-row
    .triangle-row-even
      - for (var i=0; i<numTrianglesInRow; i++)
        +triangleUp
        +triangle
      +triangleUp
    .triangle-row-odd
      - for (var i=0; i<numTrianglesInRow; i++)
        +triangle
        +triangleUp
      +triangle

mixin site(title1, title2)
  - numRowsTop = 3
  - numRowsBottom = 5
  .spread.center.pad&attributes(attributes)
    .center-wrapper.rel
      .triangle-rows-top
        - for (var r=0; r<numRowsTop; r++)
          +triangle-row

      h1
        .line-one Raine
        .line-two Revere
      hr
      h2#title1: i= title1
      h2#title2: i= title2
      .pad-sm

      p.info-email-static 
        | email: 
        span.point raine@clarityofheart.com
      p.info-phone
        | phone: 
        span.point 720-319-8080
      p.info-email-live
        | email: 
        a.point(href='mailto:raine@clarityofheart.com') raine@clarityofheart.com
      p.info-twitter
        | twitter: 
        a.point(href='https://twitter.com/metaraine') @metaraine
      p.info-github
        | github: 
        a.p(href='https://github.com/raineorshine') raineorshine
      .info-space
        div(style="margin-top: 40px;")
      .pad-sm

      .triangle-rows-bottom
        - for (var r=0; r<numRowsBottom; r++)
          +triangle-row

body.spread.mouse-move-disabled
  +site("Contemplative Psychotherapist", "Cryptocurrency Engineer").site-therapy
  +site("Contemplative Psychotherapist", "Cryptocurrency Engineer").site-engineering

  script(type="text/javascript").
    // cache width, height, and elements
    let h = document.body.offsetHeight
    let w = document.body.offsetWidth
    const therapy = document.getElementsByClassName('site-therapy')[0].firstChild
    const engineering = document.getElementsByClassName('site-engineering')[0].firstChild
    let disableMouseMove = false
    const innerSensitivy = 1.2
    const outerSensitivity = 1.0

    // reset the global w/h variables on resize
    window.addEventListener('resize', function resize(e) {
      h = document.body.offsetHeight
      w = document.body.offsetWidth
    })

    // disable the mouse move effect if on a touch device
    document.body.addEventListener('touchstart', function hover(e) {
      disableMouseMove = true
    })

    document.body.addEventListener('mousemove', function move(e) {
      if (disableMouseMove) return
      document.body.className = document.body.className.replace('mouse-move-disabled', '')

      // distance to center
      const xCenter = Math.floor(Math.abs(e.clientX - w/2)) / outerSensitivity + w/4

      therapy.style.left = Math.min((xCenter - w/2) / innerSensitivy, 0) + 'px'
      engineering.style.left = Math.max((w - xCenter - w/2) / innerSensitivy, 5) + 'px'
    })
