doctype html

html.spread(lang='en')
head
  meta(charset='utf-8')
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Raine Revere
  link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css')
  link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Quicksand')
  link(rel='stylesheet' type='text/css' href='/styles/main.css')
  include analytics.html

mixin triangle(triangleSize=40, triangleBorderSize=2)
  svg.triangle-svg(width=triangleSize height=triangleSize viewBox="0 0 " + (triangleSize + 10) + " " + (triangleSize + 10) xmlns="https://www.w3.org/2000/svg")
    polygon.triangle(points=((triangleSize + triangleBorderSize)/2) + "," + triangleBorderSize*3 + " " + triangleSize + "," + triangleSize + " " + triangleBorderSize + "," + triangleSize)

mixin triangleUp(triangleSize=40, triangleBorderSize=2)
  svg.triangle-svg.triangle-up-svg(width=triangleSize height=triangleSize viewBox="0 0 " + (triangleSize + 10) + " " + (triangleSize + 10) xmlns="https://www.w3.org/2000/svg")
    polygon.triangle(points=
      ((triangleSize + triangleBorderSize)/2) + "," + (triangleSize - triangleBorderSize*3) + " " +
      triangleBorderSize + "," + triangleBorderSize + " " + 
      (triangleSize - triangleBorderSize) + "," + triangleBorderSize
    )

mixin triangle-row(numTrianglesInRow=7)
  .triangle-row
    .triangle-row-even
      - for (var i=0; i<numTrianglesInRow; i++)
        +triangleUp
        +triangle
      +triangleUp
    .triangle-row-odd
      - for (var i=0; i<numTrianglesInRow; i++)
        +triangle
        +triangleUp
      +triangle

mixin site(title1, title2)
  - numRowsTop = 3
  - numRowsBottom = 5
  .spread.center.pad.nopointer&attributes(attributes)
    .center-wrapper.rel
      .triangle-rows-top
        - for (var r=0; r<numRowsTop; r++)
          +triangle-row

      h1
        .line-one Raine
        .line-two Revere
      hr
      h2#title1: i= title1
      h2#title2: i= title2
      .pad-sm

      p.info-email-static 
        | email: 
        span.point raine@clarityofheart.com
      p.info-phone
        | phone: 
        span.point 720-319-8080
      p.info-email-live
        | email: 
        a.point(href='mailto:raine@clarityofheart.com') raine@clarityofheart.com
      p.info-twitter
        | twitter: 
        a.point(href='https://twitter.com/metaraine') @metaraine
      p.info-github
        | github: 
        a.p(href='https://github.com/raineorshine') raineorshine
      .info-space
        div(style="margin-top: 40px;")
      .pad-sm

      .triangle-rows-bottom
        - for (var r=0; r<numRowsBottom; r++)
          +triangle-row

body.spread.mouse-move-disabled
  +site("Contemplative Psychotherapist", "Cryptocurrency Engineer").site-therapy
  +site("Contemplative Psychotherapist", "Cryptocurrency Engineer").site-engineering

  section.dark.pad-quarter.center.spread

    .nav-content(rel='home')
      .block.pad
        h1 Raine Revere is a practicing therapist and cryptocurrency engineer. 
      .block.pad-lg
        h2.small Learn more about Raine's work in:
      .block
        a.nav-link.button.hspace-lg.vspace-sm(href='javascript:void(0);' rel='therapy') Therapy
        a.nav-link.button.hspace-lg.vspace-sm(href='javascript:void(0);' rel='crypto') Crypto

    .nav-content(rel='therapy').hide

      .block.pad.left
        h1.vspace Couples Counseling

        p Making a relationship work long-term is an enormous challenge, but there is no need to do it on your own. Couples often struggle for years before turning to a skilled couples therapist for support. On your own, you may run into the same problems over and over, leaving you frustrated and confused, even though you seem to be doing everything right. The awareness gained from a professional who can assess complex relationship dynamics can make all the difference in a relationship that is struggling but wants to survive. 

        p Raine Revere offers couples therapy to clients of all backgrounds in the Denver area. Raine is a Registered Therapist and has received additional training in Emotionally Focused Couples Therapy (EFT) and the Psychobiological Approach to Couples Therapy (PACT), bringing together the best research on adult attachment, interpersonal neurobiology, and effective interventions for couples in distress.

        .vspace-giant.text-center
          a.button(href='https://calendly.com/rainerevere/couples-counseling' target='_blank') View availability and book an appointment today!

        #therapy-profile.text-center
          .inline.left
            #profile-pic
              img.media-left(src='/images/professional1.jpg' width='400')

            +triangle-row

            #profile-text.vspace
              p Raine Revere is Registered Therapist in the state of Colorado and holds an M.A. in Contemplative Psychotherapy from Naropa University. Raine identifies as genderfluid and embraces all identities as a path of personal and collective growth. She is an avid meditator, lover of language, and cryptocurrency engineer.

              p Contact 
                a(href='mailto:raine@clarityofheart.com') raine@clarityofheart.com
                |  or call 720-319-8080 to schedule a session.

            +triangle-row

        h2 About EFT

        p Emotionally Focused Therapy (EFT) is a short-term form of therapy that focuses on adult relationships and attachment/bonding. The therapist and clients look at patterns in the relationship and take steps to create a more secure bond and develop more trust to move the relationship in a healthier, more positive direction.

        p Four rigorous outcome studies of EFT showed a larger effect size than any other couple intervention has achieved to date. Studies consistently show excellent follow-up results, and some studies show that significant progress continues after therapy. EFT uses a systematic empirically validated theory of adult bonding as the basis for understanding and alleviating relationship problems. The generalizability of EFT across different kinds of clients and couples facing other challenges such as depression and PTSD has been examined and results are consistently positive.

        p
          a(target='_blank' href='https://thepactinstitute.com/dividedpage/what-is-pact/') https://www.coloradoeft.com/eft-in-depth/research/
          br
          a(target='_blank' href='https://www.psychologytoday.com/us/therapy-types/emotionally-focused-therapy') https://www.psychologytoday.com/us/therapy-types/emotionally-focused-therapy

        h2 About PACT

        p PACT was developed out of exciting, cutting-edge research in three areas.

        p The first is neuroscience, the study of the human brain. Understanding how the brain works provides a physiological basis for understanding how people act and react within relationships. In a nutshell, some areas of your brain are wired to reduce threat and danger and seek security, while others are p geared to establish mutuality and loving connection.

        p The second is attachment theory, which explains the biological need to bond with others. Experiences in early relationships create a blueprint that informs the sense of safety and security you bring to adult relationships. Insecurities that have been carried through life can wreak havoc for a couple if p these issues are not resolved.

        p The third area is the biology of human arousal—meaning the moment-to-moment ability to manage one’s p energy, alertness, and readiness to engage.

        p It isn’t necessary to understand the scientific basis of PACT to realize its benefits. Your therapist will use the PACT principles to guide you in overcoming challenges you face as a couple.

        p
          a(target='_blank' href='https://thepactinstitute.com/dividedpage/what-is-pact/') https://thepactinstitute.com/dividedpage/what-is-pact/

      .block
        a.nav-link.button.hspace-lg.vspace-lg(href='javascript:void(0);' rel='home') ← Back

    .nav-content(rel='crypto').hide
      .block.pad.left
        h1.vspace.center Crypto
        p Raine Revere is a respected smart contract developer and educator in the Ethereum community. Raine's areas of expertise include smart contract security and high-level architecture. As the lead engineer for ShapeShift's <a href='https://prism.exchange' target='_blank'>Prism</a> platform, Raine helped develop a decentralized digital asset management platform that secures users' funds entirely on the Ethereum network.

        p Raine Revere is the founder of <a href='https://www.maiden.global' target='_blank'>Maiden</a>, a blockchain education and advocacy company focused on shifting the culture and leadership of Tech and Finance.

        img.vspace(src='/images/devcon3-talk.jpg')
        img.vspace(src='/images/bsic-panel.jpg')
        img.vspace(src='/images/denver-meetup2.jpg')

        .vspace-giant.text-center
          +triangle-row

          h1 Prism Tour
          ul#tour.nobullets
            li
              span.text-dim 7/18/17 
              |  Denver
            li
              span.text-dim 7/28/17 
              |  Montreal
            li 
              span.text-dim 8/18/17 
              |  San Francisco
            li
              span.text-dim 9/13/17
              |  Atlanta
            li 
              span.text-dim 10/27/17 
              |  San Francisco
            li 
              span.text-dim 11/2/17 
              |  Cancún
            li 
              span.text-dim 12/12/17 
              |  New York

          +triangle-row

        .text-center.vspace-lg
          p Contact 
            a(href='mailto:raine@clarityofheart.com') raine@clarityofheart.com
            |  to say hi :)

      .block
        a.nav-link.button.hspace-lg.vspace-lg(href='javascript:void(0);' rel='home') ← Back

  script(type='text/javascript' src='/scripts/main.js')


