/* gold: rgb(196,169,164) */

* { box-sizing: border-box; }
img { max-width: 100%; }
body {
  font-family: Quicksand, Helvetica, Arial, Sans-Serif;
  font-weight: 300;
  font-size: 18px;
  color: rgb(196,169,164);
  background-color: #ff2525;
}

h1, h2 {
  display: inline-block;
}
h1, h2, a, .point {
  pointer-events: auto;
}

h1 {
  margin-bottom: 5px;
  cursor: default;
}

h2 {
  font-size: 24px;
}

h2.small {
  font-size: 18px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
}

hr {
  width: 64px;
}

p {
  font-size: 14px;
}

ul {
  margin-bottom: 1.5em;
}

strike {
  opacity: 0.5;
}

/* don't double dim */
strike .text-dim {
  color: inherit;
}

a {
  text-decoration: underline;
  word-break: break-word;
}


.center {
  display: table;
}

.center > * {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.clear { overflow: hidden; }
.text-center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }
.inline { display: inline-block; }
.hide { display: none; }
.rel { position: relative; }

.hspread { width: 100%; }

.spread {
  width: 100%;
  height: 100%;
}
.block { display: block; }

.space { margin: 25px; }
.space-sm { margin: 10px; }
.space-lg { margin: 50px; }
.space-giant { margin: 100px; }

.hspace { margin-left: 25px; margin-right: 25px; }
.hspace-sm { margin-left: 10px; margin-right: 10px; }
.hspace-lg { margin-left: 50px; margin-right: 50px; }
.hspace-giant { margin-left: 100px; margin-right: 100px; }

.vspace { margin-top: 25px; margin-bottom: 25px; }
.vspace-sm { margin-top: 10px; margin-bottom: 10px; }
.vspace-lg { margin-top: 50px; margin-bottom: 50px; }
.vspace-giant { margin-top: 100px; margin-bottom: 100px; }
.vspace-mega { margin-top: 150px; margin-bottom: 150px; }

.pad { padding: 25px; }
.pad-sm { padding: 10px; }
.pad-lg { padding: 50px; }
.pad-giant { padding: 100px; }

.pad-quarter {
  padding-left: 15vw;
  padding-right: 15vw;
}
@media screen and ( max-width: 800px ) {
  .pad-quarter {
    padding-left: 10px;
    padding-right: 10px;
  }
}

section {
  max-height: 100vh;
}

.light {
  background-color: #25e2ff;
}

@keyframes pulsered {
  from { background-color: #ff2525; }
  to   { background-color: #ff258a; }
}

.pulsered {
  animation: pulsered 10s ease-in-out infinite alternate;
}
